.container {
  width: 200px;
  margin: 0px auto;
  height: 120px;

}
.contador {
  border: 1px solid gray;
  float: left;
  margin: 0 auto;
  height: 95px;
  width: 90px;

}
.number {
  font-weight: 500;
  font-size: 70px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90px;
  height: 100%;
  text-align: center;
  float: left;
  margin-right: 20px;
}
.signos {
  width: 0px;
  float: right !important;
  display: block;
}

.box-mas {
  background-color: green;
  color: white;
  font-size: 27px;
  margin-bottom: 17px;
  margin-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.box-menos {
  background-color: red;
  color: white;
  font-size: 27px;
  margin: 0;
  padding-left: 19px;
  padding-right: 18px;
  border-radius: 5px;
  cursor: pointer;
}
button {
  border: none;
}
.mensaje{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
