<div class="container">
  <div class="contador">
    <div class="number">
      {{num}}
    </div>
    <div class="signos">
      <button class="box-mas" (click)="suma()">+</button>
      <button class="box-menos" (click)="resta()">-</button>
    </div>
  </div>
  <br>
 
</div>

<br>
<br>
<div class="mensaje">
  {{ mensaje }}
</div>
